@model PharmaEase.Models.Prescription

@{
    ViewData["Title"] = "RequestRefill";
}

<h1>Requesting Refill</h1>

<div>
    <hr />
    <h6>Refill Request Recorded</h6>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Refills)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Refills)
        </dd>
        <dt class="col-sm-2">
            Refills upon delivery
        </dt>
        <dd class="col-sm-10">
            @(Model.Refills-1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Medication)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Medication.CommonName)
        </dd>
    </dl>
</div>
<br />
<br />
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>
