@model IEnumerable<PharmaEase.Models.Pharmacy>

@{
    ViewData["Title"] = "Index";
}

<h1>Pharmacies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-dark">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNum)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNum)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PharmacyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PharmacyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PharmacyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
